.centered-text {
    text-align: center;
  }
  .container{
      text-align: center;
      font-weight: bold;
      
  }
  .drink-info {
    display: flex;
    justify-content: space-between;
 }
 
 .drink-info img {
    width: 50%;
 }
 
 .drink-info div {
    width: 50%; 
 }